.container {
    margin-top: 30px;
    margin-bottom: 50px;

    .current, .queue, .skip, .buttons {
        text-align: center;
    }

    .current {
        .panel {
            height: 500px;
        }

        .panel-title {
            font-size: 2em;
        }

        .panel-body {
            font-weight: bolder;
            padding-top: 100px;
            font-size: 10em;
        }
    }

    .queue, .skip {
        .panel {
            height: 200px;
        }

        .panel-title {
            font-size: 1.5em;
        }

        .panel-body {
            font-weight: bolder;
            padding-top: 50px;
            font-size: 3em;
        }
    }

    .video {
        .panel{
            height: 420px;
        }   
    }

    .banner {
        .panel {
            height: 200px;
        }
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}