.container {
  margin-top: 30px;
  margin-bottom: 50px;
}
.container .current,
.container .queue,
.container .skip,
.container .buttons {
  text-align: center;
}
.container .current .panel {
  height: 500px;
}
.container .current .panel-title {
  font-size: 2em;
}
.container .current .panel-body {
  font-weight: bolder;
  padding-top: 100px;
  font-size: 10em;
}
.container .queue .panel,
.container .skip .panel {
  height: 200px;
}
.container .queue .panel-title,
.container .skip .panel-title {
  font-size: 1.5em;
}
.container .queue .panel-body,
.container .skip .panel-body {
  font-weight: bolder;
  padding-top: 50px;
  font-size: 3em;
}
.container .video .panel {
  height: 420px;
}
.container .banner .panel {
  height: 200px;
}
.container h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
