{% extends 'master.html' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>{{ session['counter_name'] }} : {{ session['display_name'] }}</h1>
                </div>
                <div class="col-xs-6 current">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Sedang Dilayani
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ session['current'] }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 queue">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Jumlah Antrian
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ number['visitor'] }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 queue">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Terakhir Dilayani
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ number['served'] }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 skip">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Dilewati
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ number['skip'] }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 buttons">
                    <form method="POST" ngNoForm>
                        <input type="submit" name="btnRefresh" value="Refresh" class="btn btn-lg btn-warning" />
                        <a id="btnRepeat" class="btn btn-lg btn-success">Ulangi<a>
                        <input type="submit" name="btnNext" value="Berikutnya" class="btn btn-lg btn-primary" {% if number['served'] >= number['visitor'] %}disabled{% endif %} />
                        <input type="submit" name="btnSkip" value="Lewati" class="btn btn-lg btn-danger" {% if session['current'] <= 0 or number['served'] >= number['visitor']  %}disabled{% endif %} />
                        <input type="submit" name="btnCallSkip" value="Panggil Terlewat" class="btn btn-lg btn-danger" {% if number['skip'] == '' %}disabled{% endif %} />
                    </form>
                </div>
                <div class="col-xs-12 text-center">
                    <a href="{{ url_for('route_logout') }}"><h2>Logout</h2></a>
                </div>
            </div>
        </div>
{% endblock %}