{% extends 'master.html' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-1 video">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Video
                            </div>
                        </div>
                        <div class="panel-body">
                            Ini video
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 queue">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                CS 1
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ cs_session['CS 1'] }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 queue">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                CS 2
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ cs_session['CS 2'] }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 banner">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Iklan
                            </div>
                        </div>
                        <div class="panel-body">
                            Ini Iklan
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            setTimeout(function(){
                window.location.reload(1);
            }, 15000);
        </script>
{% endblock %}