{% extends 'master.html' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <h1 class="text-center">LOGIN</h1>

                    {% if not error is undefined %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}

                    <div class="panel panel-default login-panel">
                        <form method="POST" class="panel-body">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" />
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" />
                            <label for="password">Kounter</label>
                            <select name="counter_id" class="form-control">
                                {% for counter in counters %}
                                <option value="{{ counter.id }}">{{ counter.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}