<!DOCTYPE HTML>
<html lang="en">
	<head>
        <meta charset="utf-8">
		<meta name="description" content="Sistem Antrian">
		<meta name="author" content="Nugroho Nindyo Harimukti">

		<title>Sistem Antrian</title>
		
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='lib/fontawesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
	</head>

    <body>
        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='lib/jquery/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>