{% extends 'master.html' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 current">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Nomor Terakhir
                            </div>
                        </div>
                        <div class="panel-body">
                            {{ session.visitor }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 buttons">
                    <form method="POST" ngNoForm>
                        <input type="submit" name="btnGet" value="Ambil Nomor" class="btn btn-lg btn-primary" />
                    </form>
                </div>
            </div>
        </div>
{% endblock %}